$primary-color: #FFA96B;
$secondary-color: rgba(237, 143, 2, 0.45);
$breakpoint-desktop: 1024px;
$background-color: #F4F4F7;

.text-primary-color {
    color: $primary-color;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin bc-normalize {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin side-padding{
    padding-left: 2rem;
    padding-right: 2rem;

    @if (min-width: $breakpoint-desktop) {
        padding: 0 6rem;
    }
}

@mixin side-margin{
    margin-left: 2rem;
    margin-right: 2rem;

    @if (min-width: $breakpoint-desktop) {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}


html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.25;
}

body {
    background-color: $background-color;
}

@include desktop {
    html {
        font-size: 20px;
    }
}