$primary-color: #FFA96B;
$secondary-color: rgba(237, 143, 2, 0.45);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}